@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";

body {
  margin-top: 70px;
  background-image: url('/images/furley_bg.png');
}

h1 {
  margin-bottom: 30px;
}

// ----||-------------------------------
//     ||    NAVBAR
// ====||===============================

.navbar {
  a.brand {
    color: black;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    float: right;
  }
}
